/************************************************

Stylesheet: Theme Stylesheet

*************************************************/

/************************************************

Declarations

*************************************************/

$header-bg: #140030;
$hero-bg-a: rgba(46, 47, 58, 0.6);
$hero-bg: #2e2f3a;
$light-blue: #00a8eb;
$trans-black: rgba(0, 0, 0, 0.6);
$off-white: #e9e9e9;
$card-bg: #dedede;
$hero-color: #fff;
$header-link: #fff;
$footer-link: #fff;
$container: 1200px;
$logo-font: "Exo 2", sans-serif;
$heading-font: "Roboto Condensed", sans-serif;
$body-font: "Montserrat", sans-serif;

@mixin filter-vendors($property) {
  -webkit-filter: $property;
  filter: $property;
}

%center-flex {
  justify-content: center;
  align-items: center;
}

/************************************************

Helper Classes etc.

*************************************************/
.max-container {
  max-width: $container;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

/************************************************

Header

*************************************************/
body {
  font: 1em/1.5em normal $body-font;
}

/************************************************

Header

*************************************************/
.header {
  background-color: $header-bg;
  .top-bar,
  .sticky-container,
  ul.menu {
    background-color: $header-bg;
  }
  a {
    color: $header-link;
  }
  .active,
  .is-active {
    a {
      background-color: transparent;
    }
  }
  h1 {
    font-family: $logo-font;
    font-size: 1.8rem;
  }

  * {
    z-index: 100;
  }
}

footer {
  background-color: $header-bg;

  a,
  p {
    color: $footer-link;
  }
}

.mysite__logo {
  width: 100px;
}

.is-stuck {
  background-color: $header-bg;
  .mysite__logo {
    width: 50px;
  }
  h1 {
    font-size: 1.4rem;
  }
}

/************************************************

Hero Banner

*************************************************/
.button {
  background-color: $hero-bg;

  &:hover {
    background-color: $light-blue;
  }
}

.hero-banner {
  @extend %center-flex;
  background-color: $hero-bg-a;
  color: $hero-color;
  height: 100vh;
  position: relative;

  &h2 {
    font-size: 3em;
  }
}

.isMobile {
  background-image: url("../images/hero-bg-overlay-min.jpg");
  // background-image: url("../videos/coding/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: auto;
}

.full-section {
  height: 100vh;
  width: 100vw;
  @extend %center-flex;
  margin: 0 auto;
}

.fullscreen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen__video {
    width: auto;
    height: 100%;
  }
}

/************************************************

Article

*************************************************/

#home {
  article {
    background-color: $trans-black;
    padding: 20px;
    border-radius: 5px;

    h2 {
      font-size: 3em;
    }
  }
}

#works,
#about,
#skill {
  padding: 20px;
}

#works {
  background-color: $off-white;
  .entry-content {
    padding: 20px;
  }
  img {
    padding: 10px;
  }
}

#about {
  background-color: $hero-bg;
  color: $off-white;
  img {
    margin-bottom: 0px;
    border-radius: 5px;
  }
}

#skills {
  background: $off-white;
  padding: 40px 0;
  img {
    width: 100px;
    @include filter-vendors(grayscale(100%));
  }
}

#contact {
  padding: 40px;
}

#portfolio {
  background-color: $off-white;

  .entry-content {
    padding: 20px;

    img {
      padding: 10px;
    }
  }
}

.portfolio {
  @extend %center-flex;
  text-align: center;
}

.article-footer {
  background: transparent;
  padding: 10px;
}

.equal {
  align-items: center;
  text-align: center;
  .cell {
    padding: 20px 0;
  }

  h2 {
    text-transform: capitalize;
  }
}

.card {
  flex-flow: row wrap;
  justify-content: center;
  overflow: unset;
  background-color: $card-bg;
  border-radius: 5px;
  .card-divider {
    flex: 1 100%;
    align-self: flex-start;
    background-color: $hero-bg;
    border-radius: 5px 5px 0 0;
    a {
      color: $off-white;
      &:hover {
        color: $light-blue;
      }
    }
  }
  .card-image {
    flex: 3 100%;
    align-self: center;
  }
  .card-section {
    flex: 1 1 100%;
    align-self: flex-end;
  }
}

span.tags {
  font-size: 0.75em;
  display: inline-flex;
  padding: 7px;
  margin: 5px;
  background: lightblue;
  border-radius: 5px;
}

/************************************************

Footer

*************************************************/
.content {
  footer {
    margin-top: 0px;
    text-align: center;
    ul {
      justify-content: center;

      a,
      i {
        font-size: 1.5em;
      }
    }
  }
}
