/************************************************

Stylesheet: Theme Stylesheet

*************************************************/

/************************************************

Declarations

*************************************************/

$header-bg: #140030;
$hero-bg: #2e2f3a;
$hero-color: #fff;
$header-link: #fff;
$footer-link: #fff;
$container: 1200px;
$logo-font: "Exo 2", sans-serif;
$heading-font: "Roboto Condensed", sans-serif;
$body-font: "Montserrat", sans-serif;

/************************************************

Helper Classes etc.

*************************************************/
.max-container {
  max-width: $container;
  margin: 0 auto;
}

/************************************************

Header

*************************************************/
body {
  font: 1em/1.5em normal $body-font;
}

/************************************************

Header

*************************************************/
.header {
  background-color: $header-bg;
  height: 150px;
  .top-bar,
  .sticky-container,
  ul.menu {
    background-color: $header-bg;
  }
  a {
    color: $header-link;
  }
  h1 {
    font-family: $logo-font;
    font-size: 1.8rem;
  }
}

footer {
  background-color: $header-bg;

  a,
  p {
    color: $footer-link;
  }
}

.mysite__logo {
  width: 100px;
}

.is-stuck {
  background-color: $header-bg;
  .mysite__logo {
    width: 50px;
  }
  h1 {
    font-size: 1.4rem;
  }
}

/************************************************

Hero Banner

*************************************************/
.hero-banner {
  background-color: $hero-bg;
  color: $hero-color;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: -150px; /*adjust to header height*/
}

/************************************************

Article

*************************************************/

main {
  padding: 20px 50px;
}
